[submodule "bundle/fugitive"]
  path = bundle/fugitive
  url = git://github.com/tpope/vim-fugitive.git
[submodule "bundle/ctrlp"]
  path = bundle/ctrlp
  url = git://github.com/kien/ctrlp.vim.git
[submodule "bundle/vim-rs-solarized"]
  path = bundle/vim-rs-solarized
  url = git://github.com/altercation/vim-colors-solarized.git
[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree
[submodule "bundle/syntastic"]
	path = bundle/syntastic
	url = https://github.com/scrooloose/syntastic.git
[submodule "bundle/bclose"]
	path = bundle/bclose
	url = https://github.com/rbgrouleff/bclose.vim
[submodule "bundle/vim-matchit"]
  path = bundle/vim-matchit
  url = git@github.com:jwhitley/vim-matchit.git
[submodule "bundle/vim-matchtagalways"]
	path = bundle/vim-matchtagalways
	url = git@github.com:Valloric/MatchTagAlways.git
[submodule "bundle/delimitMate"]
	path = bundle/delimitMate
	url = git@github.com:Raimondi/delimitMate.git
[submodule "bundle/emmet-vim"]
	path = bundle/emmet-vim
	url = git@github.com:mattn/emmet-vim.git
[submodule "bundle/tagbar"]
	path = bundle/tagbar
	url = git://github.com/majutsushi/tagbar
[submodule "bundle/vim-misc"]
	path = bundle/vim-misc
	url = git@github.com:xolox/vim-misc.git
[submodule "bundle/vim-easytags"]
	path = bundle/vim-easytags
	url = git@github.com:xolox/vim-easytags.git
[submodule "bundle/tern_for_vim"]
	path = bundle/tern_for_vim
	url = git@github.com:marijnh/tern_for_vim.git
[submodule "bundle/neocomplete"]
	path = bundle/neocomplete
	url = git@github.com:Shougo/neocomplete.vim.git
[submodule "bundle/vim-snippets"]
	path = bundle/vim-snippets
	url = https://github.com/honza/vim-snippets.git
[submodule "bundle/ultisnips"]
	path = bundle/ultisnips
	url = git@github.com:SirVer/ultisnips.git
